# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# Angular
/.angular/cache

# Coverage
/coverage

# System files
.DS_Store
Thumbs.db

# Netlify
.netlify
